<section id="sidebar">
        <a href="#" class="brand"><i class="fa-solid fa-face-laugh-beam icon"></i> <span>SmartRetail</span></a>
        <ul class="side-menu">
            <li>
                <a class="active" href="/dash">
                    <i class="fa-solid fa-paperclip icon"></i>
                    <span class="label">Dashboard</span>
                </a>
            </li>
            <li class="divider" data-text="main">Main</li>
            <li>
                <form method="POST" action="/analysis">
                    <button type="submit">Analysis</button>
                </form>
            </li>
            <li>
                <a href="/inventory">
                    <i class="fa-solid fa-boxes-stacked icon"></i>
                    <span class="label">Inventory</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-chart-pie icon"></i>
                    <span class="label">Charts</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-table icon"></i>
                    <span class="label">Tables</span>
                </a>
            </li>
            <li class="divider" data-text="OTHER">Other</li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-comment icon"></i>
                    <span class="label">Suggestions</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-pen-to-square icon"></i>
                    <span class="label">Feedback</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-phone-volume icon"></i>
                    <span class="label">Contact Us</span>
                </a>
            </li>
        </ul>
        <div class="social-links">
            <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#"><i class="fa-brands fa-discord"></i></a>
        </div>
    </section>
