<section class="signup">
        <div class="signup-container">
            <div class="left">
                <div class="l-content">
                    <!-- <i class="fa-solid fa-face-laugh-beam icon"></i> -->
                    <h2>Welcome to SmartRetail !</h2>
                    <p>Get the latest insights and tailored <br>analysis for smarter decisions.</p>
                    <button id="s-login">Login</button>
                </div>
            </div>
            <div class="right">
                <form class="signup-form" action="/register" method="POST">
                    <h3>Create Account</h3>
                    <div class="field">
                        <label for="name">Name</label>
                        <input id="name" type="text" placeholder="Your full name" name = "name" required>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for="gender">Gender</label>
                            <input id="gender" type="text" placeholder="e.g. Female" name = "gender" required>
                        </div>
                        <div class="col">
                            <label for="occupation">Occupation</label>
                            <select id="occupation" name="occupation" required>
                                <option value="" disabled selected>Select…</option>
                                <option>Manager</option>
                                <option>Analyst</option>
                                <option>Admin</option>
                                <option>CA</option>
                                <option>Other</option>
                            </select>
                        </div>
                    </div>

                    <div class="field">
                        <label for="wid">Walmart ID</label>
                        <input id="wid" type="text" placeholder="W-12345" name = "username" required>
                    </div>
                    <div class="field">
                        <label for="email">Email</label>
                        <input id="email" type="email" placeholder="you@example.com" name = "email" required>
                    </div>
                    <div class="field">
                        <label for="pw1">Password</label>
                        <input id="pw1" type="password" placeholder="••••••••" name = "password" required>
                    </div>
                    <div class="field">
                        <label for="pw2">Re‑enter Password</label>
                        <input id="pw2" type="password" placeholder="••••••••" name = "rePAss" required>
                    </div>

                    <button type="submit" class="btn-signup">Sign Up</button>
                </form>

            </div>
        </div>
    </section>