:root {
    --bg-color: #f3f3f3;
    --gold-color: #ffd042;
    --violet-color: #7e30e1;
    --dark-color: #2b2d42;
    --shadow-color: #d8d8d8;
    --gray-color: #343a40;
    --d-gray-color: #717171;
    --danger-color: #e65339;
    --success-color: #2ecc71;
    --white-color: #fff;
    --l-violet-color: #892fff;
}

html {
    scroll-behavior: smooth;
}

body {
    /* background-color: var(--bg-color); */
    font-family: 'Inter', 'Segoe UI', sans-serif;
    /* Use Poppins where required */
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-brand {
    cursor: default;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    background-color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--dark-color);
    box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.15);
}

.nav-btn {
    margin-left: 0.5rem;
    padding: 0.6rem 1.4rem;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 600;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.nav-logout {
    background-color: var(--violet-color);
    color: var(--white-color);
}

#signup {
    color: rgb(46, 46, 46);
    background-color: var(--white-color);
    transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
}

#signup:hover {
    font-weight: 900;
    color: var(--violet-color);
    text-shadow: 0 0 10px rgb(187, 145, 255);
}

#login {
    background: var(--violet-color);
    color: #ffffff;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

#login:hover {
    box-shadow: 2px 2px 8px 1px rgb(187, 145, 255);
    background-color: var(--l-violet-color);
}

.hero {
    color: var(--dark-color);
    background-color: var(--bg-color);
    overflow: hidden;
    /* box-shadow: inset 0 -4px 10px -4px rgba(0, 0, 0, 0.15); */
}

.hero-overlay {
    margin-left: 4rem;
    margin-top: 6rem;
    width: 100%;
    height: 53vh;
}

.hero h1 {
    font-size: 3.2rem;
    font-weight: 700;
    font-family: 'Poppins';
    /* text-transform: uppercase; */
    line-height: 2.9rem;
    /* margin-bottom: 2rem; */
}

.hero h1 span {
    color: var(--gold-color);
    font-weight: 600;
}

.typing-container {
    display: inline-block;
    vertical-align: bottom;
}

.typing-text {
    position: relative;
    top: 0.84rem;
    display: inline-block;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid var(--gold-color);
    animation: typing 1.5s steps(20) 1 forwards, blink 0.5s step-end 5 forwards, hide-cursor 0.1s 3.5s forwards;
    color: var(--gold-color);
    /* line-height: 1.4; */
    padding-bottom: 0.5rem;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes hide-cursor {
    to {
        border-right: none;
    }
}

.hero p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--gray-color);
    margin-bottom: 3rem;
}

.hero-buttons .btn-theme {
    font-size: 1.2rem;
    padding: 0.75rem 1.2rem;
    font-weight: 600;
    border-radius: 6px;
    border: none;
    background-color: var(--white-color);
    color: var(--dark-color);
    box-shadow: 0 2px 4px var(--shadow-color);
    transition: 0.3s;
    text-decoration: none;
}

.hero-buttons .btn-alt {
    margin-right: 1.5rem;
    background-color: var(--violet-color);
    color: white;
}

.hero-buttons .btn-theme:hover {
    opacity: 0.85;
    font-weight: 900;
    box-shadow: 2px 2px 8px 1px #bababa;
    background-color: #f7f7f7;
}

.hero-buttons .btn-alt:hover {
    box-shadow: 2px 2px 8px 1px rgb(187, 145, 255);
    background-color: var(--l-violet-color);
}

.impact-banner {
    text-align: center;
    font-size: 1.2rem;
    color: var(--gray-color);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.impact-banner strong {
    color: var(--dark-color);
}

.impact-banner p {
    padding-right: 3rem;
}

.box-container {
    height: 23vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
}

.box {
    display: inline-flex;
    align-items: center;
    /* justify-content: center; */
    color: var(--dark-color);
    font-size: 1.2rem;
    font-weight: 800;
}

.box i {
    font-size: 2.5rem;
    color: var(--d-gray-color);
    /* color: var(--gold-color); */
    padding-right: 2rem;
}

.box-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.learn-more {
    margin-top: 0.25rem;
    font-size: 0.95rem;
    font-weight: 600;
    color: var(--violet-color);
    /* color: var(--gold-color); */
    text-decoration: none;
    transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
}

.learn-more:hover {
    color: var(--l-violet-color);
    text-shadow: 0px 0px 5px rgb(205, 159, 255);
}

.signup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.3);
}

.signup-container {
    width: 60%;
    max-width: 90%;
    height: 80vh;
    background-color: var(--white-color);
    border-radius: 1rem;
    box-shadow: 0 0px 20px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    gap: 2rem;
    overflow: hidden;
}

.signup .left {
    background-color: var(--violet-color);
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup .right {
    position: relative;
    top: 8%;
    height: 80%;
    width: 55%;
    background-color: white;
    overflow-y: auto;
}

.signup .right::-webkit-scrollbar {
    display: none;
}

.l-content {
    height: 100%;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    text-align: center;
}

.l-content h2 {
    font-size: 2.7rem;
    letter-spacing: 1px;
    font-weight: 900;
    margin: 10px 0;
}

.l-content p {
    font-weight: 200;
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin: 2rem 1rem;
}

.l-content button {
    border: 2px solid var(--white-color);
    background-color: var(--violet-color);
    color: var(--white-color);
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    margin-top: 1rem;
    font-weight: 700;
    transition: all .2s ease;
}

.l-content button:hover {
    background-color: var(--white-color);
    color: var(--violet-color);
}

.signup-form {
    padding: 2rem;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 1rem;
    max-width: 400px;
    margin: auto;
}

.signup-form h3 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 3rem;
    color: var(--dark-color);
    font-weight: 900;
    margin-top: 0;
}

.signup-form p {
    margin-bottom: 2rem;
}

.field,
.row {
    margin-bottom: 2rem;
}

.row {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.col {
    flex: 1;
}

#occupation {
    position: relative;
    bottom: 1.5px;
    color: gray;
}

#occupation option {
    color: var(--dark-color);
}

.signup-form label {
    display: block;
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
    color: var(--dark-color);
    font-weight: 700;
}

.signup-form input,
.signup-form select {
    width: 90%;
    padding: 0.6rem;
    border: none;
    border-bottom: 1px solid #ccc;
    background: #fff;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.2s;
}

.signup-form input:focus,
.signup-form select:focus {
    border-bottom-color: var(--violet-color);
}

.btn-signup {
    width: 100%;
    padding: 0.75rem;
    background: var(--violet-color);
    color: #fff;
    border: none;
    border-radius: 999px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 1rem;
    transition: background 0.2s;
}

.btn-signup:hover {
    background: var(--l-violet-color);
}

.login-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2x);
    background: rgba(0, 0, 0, 0.3);
    z-index: 2000;
}

.login-container {
    width: 50%;
    max-width: 90%;
    height: 70vh;
    background: #fff;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.3);
}

.login-form-panel {
    width: 45%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 80%;
    position: relative;
    bottom: 1.5rem;
}

.login-form h3 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 1.8rem;
    color: var(--dark-color);
}

.login-form .field {
    margin-bottom: 1.5rem;
    overflow: hidden;
}

.login-form label {
    display: block;
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 0.3rem;
}

.login-form input {
    width: 100%;
    padding: 0.6rem;
    border: none;
    background-color: var(--white-color);
    border-bottom: 1px solid #ccc;
    outline: none;
    transition: border-color .2s;
}

.login-form input:focus {
    border-bottom-color: var(--violet-color);
}

.btn-login {
    width: 100%;
    /* transform: translateX(50%); */
    padding: 0.75rem;
    background: var(--violet-color);
    color: #fff;
    border: none;
    border-radius: 999px;
    font-weight: 600;
    cursor: pointer;
    transition: background .2s;
    margin-top: 3rem;
}

.btn-login:hover {
    background: var(--l-violet-color);
}

.login-info-panel {
    width: 55%;
    background: var(--violet-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-content {
    text-align: center;
    color: #fff;
    padding: 2rem;
}

.info-content h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.info-content p {
    font-size: 1.1rem;
    line-height: 1.4;
    margin-bottom: 2rem;
}

.btn-signup-cta {
    padding: 0.75rem 2rem;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 999px;
    font-weight: 600;
    cursor: pointer;
    transition: background .2s, color .2s;
}

.btn-signup-cta:hover {
    background: #fff;
    color: var(--violet-color);
}

[data-theme="dark"] {
    --bg-color: #000841;
    --dark-color: #ffffff;
    --white-color: #00065d;
    --gray-color: #cccccc;
    --d-gray-color: #888;
    --shadow-color: #1a1a1a;
    --violet-color: #b488ff;
    --l-violet-color: #d5a6ff;
    --gold-color: #ffd700;
}

.theme-toggle {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    margin-right: 1rem;
    cursor: pointer;
    color: var(--dark-color);
    display: none;
}

.theme-toggle i {
    transition: transform 0.4s ease;
}

.theme-toggle:hover i {
    transform: rotate(-20deg);
}

#image {
    width: 80%;
    margin: auto;
}

.image {
    background-color: var(--shadow-color);
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 4rem;
    text-align: center;
}

.features span {
    font-size: 0.8rem;
    color: var(--violet-color);
    font-weight: 600;
    position: relative;
    top: 1rem;
}

.features h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--dark-color);
    margin-bottom: 2rem;
}

.features p {
    margin-bottom: 6rem;
}

.benefits {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
}

.benefit {
    flex: 1;
    height: 250px;
    margin: 1rem 1rem;
    border: 2px solid var(--shadow-color);
    background-position: center;
    border-radius: 10px;
    position: relative;
    transition: all .3s ease;
    padding: 0.5rem 2rem;
    text-align: left;
    overflow: hidden;
    min-width: 200px;
    max-width: 250px;
}

.benefit:hover {
    box-shadow: 0 0 8px rgba(140, 0, 255, 0.355);
}

.feature:hover {
    box-shadow: 0 0 8px rgba(195, 159, 0, 0.412);
}

.benefit h3 {
    font-size: 1.4rem;
    color: rgb(247, 184, 26);
    /* position: absolute;
    top: 1rem;
    left: 1rem; */
}

.benefit p {
    font-size: .9rem;
    color: var(--gray-color);
    /* margin-bottom: 1rem; */
}

.feature h3 {
    font-size: 1.4rem;
    color: rgb(177, 26, 247);
    /* position: absolute;
    top: 1rem;
    left: 1rem; */
}

.feature p {
    font-size: .9rem;
    color: var(--gray-color);
    /* margin-bottom: 1rem; */
}

.benefit a {
    font-weight: 700;
    text-decoration: none;
}

#b1 a {
    position: relative;
    bottom: 3.5rem;
    display: inline-block;
}

#b2 a {
    position: relative;
    bottom: 4.4rem;
    display: inline-block;
}

#b3 a {
    position: relative;
    bottom: 4.4rem;
    display: inline-block;
}

#b4 a {
    position: relative;
    bottom: 3.5rem;
    display: inline-block;
}

.feature a {
    font-weight: 700;
    text-decoration: none;
}

.feature a i {
    padding-left: 5px;
}

.benefit a i {
    padding-left: 5px;
}

#f1 a {
    position: relative;
    bottom: 3.5rem;
    display: inline-block;
}

#f2 a {
    position: relative;
    bottom: 3.6rem;
    display: inline-block;
}

#f3 a {
    position: relative;
    bottom: 4.5rem;
    display: inline-block;
}

#f4 a {
    position: relative;
    bottom: 4.5rem;
    display: inline-block;
}

#features {
    margin-top: 5rem;
}

.features-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
}

.feature {
    flex: 1;
    height: 250px;
    margin: 1rem 1rem;
    border: 2px solid var(--shadow-color);
    background-position: center;
    border-radius: 10px;
    position: relative;
    transition: all .3s ease;
    padding: 0.5rem 2rem;
    text-align: left;
    overflow: hidden;
    min-width: 200px;
    max-width: 250px;
}

.faq {
    padding: 4rem 2rem;
    background-color: #f8f9fc;
    text-align: center;
}

.faq span {
    font-size: 0.8rem;
    color: var(--violet-color);
    font-weight: 600;
}

.faq h1 {
    font-size: 2.2rem;
    color: var(--dark-color);
    margin: 1rem 0;
}

.faq p {
    font-size: 1rem;
    max-width: 700px;
    margin: 0.5rem auto 2rem;
    color: var(--gray-color);
}

.faq-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 1000px;
    margin: auto;
}

.faq-item {
    background: #fff;
    padding: 1rem 2rem;
    border-radius: 10px;
    border: 1px solid var(--shadow-color);
    text-align: left;
    transition: box-shadow 0.3s ease;
}

.faq-item:hover {
    box-shadow: 0 0 10px rgba(140, 0, 255, 0.2);
}

.faq p {
    line-height: 1.5rem;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: var(--dark-color);
}

.faq-question h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

.faq-question i {
    font-size: 1rem;
    position: relative;
    top: 3px;
    transition: transform 0.3s ease;
    color: var(--violet-color);
}

.faq-item.open .faq-question i {
    transform: rotate(180deg);
}

.faq-answer {
    display: none;
    font-size: 0.95rem;
    color: var(--gray-color);
    line-height: 1.5;
    max-width: 1000px;
    margin: 0;
}

.faq-item.open .faq-answer {
    display: block;
    max-width: 800px;
    margin: .5rem 0 2rem 0;
}

#demo-video {
    width: 100%;
    height: 60vh;
    background-color: var(--shadow-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 4rem auto;
    margin-bottom: 0;
}

video {
    max-width: 40vw;
    border-radius: 1rem;
    max-height: 54vh;
}

.dv-box {
    max-width: 40vw;
}

.dv-box h2 {
    font-size: 2rem;
    color: var(--dark-color);
    margin-bottom: 2rem;
}

.nav-logout {
    background-color: var(--white-color);
    color: var(--dark-color);
    transition: all .3s ease;
}

.nav-dash {
    background-color: var(--violet-color);
    color: var(--white-color);
    transition: all .3s ease;
}

.nav-logout:hover {
    color: var(--l-violet-color);
    text-shadow: #b488ff 0px 0px 5px;
}

.nav-dash:hover {
    background-color: var(--l-violet-color);
    box-shadow: 0 0 8px rgba(140, 0, 255, 0.568);
}

.footer {
    background-color: var(--dark-color);
    color: white;
    padding: 2rem 1rem;
    text-align: center;
    padding-top: 1.5rem;
}

.footer-content h3 {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    color: var(--gold-color);
}

.footer-content p {
    font-size: 0.95rem;
    max-width: 600px;
    margin: 0.5rem auto 1.5rem;
    color: #ccc;
}

.footer-links {
    margin-bottom: 1rem;
}

.footer-links a {
    margin: 0 1rem;
    color: #ccc;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: var(--gold-color);
}

.footer-socials a {
    margin: 0 0.5rem;
    color: #ccc;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.footer-socials a:hover {
    color: var(--gold-color);
}

.footer-copy {
    font-size: 0.85rem;
    color: #999;
    position: relative;
    top: .5rem;
}