<%- include('partials/dashHeader.ejs'); -%>

    <%- include('partials/dashSidebar.ejs'); -%>

        <section id="content">
            <%- include('partials/dashNav.ejs'); -%>
        </section>

        <%- include('partials/dashFooter.ejs'); -%>